<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ShortMe</h1>
    <p>A URL shortener that is business friendly!!</p>
    <a href="/shorten">Click to shorten URL</a>
  </body>
</html>
