<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shorten URL</title>
  </head>
  <body>
    <form action="/shorten" method="post">
      <input type="text" name="url" placeholder="Enter URL to shorten!!!">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
